:root {
  // FONTS
  --primary-font: "Sans Source Pro", Helvetica, sans-serif;
  --secondary-font: "Merriweather", Georgia, serif;

  // COLORS
  --primary-light: #fff;
  --primary-dark: #25242a;
  --grey-light: #ccc;
  --grey-dark: #a9a9a9;
}
